[client-server]
default-character-set = utf8mb4
pid-file = /run/mysqld/mysqld.pid
socket = /run/mysqld/mysqld.sock
user = mysql
port = 3306

[mysqld]
character-set-client-handshake = FALSE
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci

default_storage_engine  = InnoDB
innodb_buffer_pool_size = 2G
innodb_flush_log_at_trx_commit = 2

bind-address = 0.0.0.0

